
circle{
  /* stroke: white; */
  stroke-width: 1rem;
  /* stroke-dasharray: 1200;
  stroke-dashoffset: 400; */
  fill:transparent;
  stroke-linecap: round;
  position: relative;
  
}

/* Block 2 Habits*/

.h{
  display: flex;
  justify-content: center;
  align-items: center;
}

.habits-container-inner{
  height: 200px;
  width: 525px;
  background-color: transparent;
  border-top: solid 1px white;
}
.second{
  display: flex;
  

}
.total-cals{
  height:200px;
  width: 200px;
}
.individual-macros{
  height:200px;
  width: 325px;
}
.breakfast-title{
  margin-top: 10px;
  height: 100%;

}
.name-input{
  margin-top: 5px;
  background: transparent;
  border-bottom: 2px solid black;

}
.progressbar-contatiner{
  height:200px;
  width: 325px;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;

}
.progressbar-contatiner .skills-box{
  width: 100%;

}

/*Macro-circle*/
.macro-title{
  position:relative;
  margin-left: -150px;
  font-family: sans-serif;
  font-weight: 600;
}

.circle-background{
  fill:none;
  stroke:#ddd;

}
.circle-progress{
  fill:none;
  stroke:green;
  stroke-linecap:round;
  stroke-linejoin: round
}

/*END*/

.progress{
height: 100%;
  display: flex;
  flex-direction: row;
}

.progressbar{
  width: 90%;
  height:15px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: stretch;
  border-radius: 60px;

  box-shadow: 0px 0px 2px #ffffff;
  overflow: hidden;

}

.bar{
  width: 0%;
  background: rgb(105, 254, 254);
  background: linear-gradient(
    180deg,
    rgb(249, 49, 49)0%,
    rgba(249, 71, 71, 0.88)32%,
    rgb(245, 17, 17)100%
  );

}
/* mediaqueries for response */
.progressbar-number-container{
  width:30px;
  margin-left: 30px;
  display:flex;
  flex-direction: row;
  color:black;
  font-family: sans-serif;
  font-weight: bold;;
}

.skills-box .title{
  display: block;
  font-weight: 600;
  font-size: 12px;
  color: #333;
}
.skills-box .skills-bar{
  width: 100%;

  border-radius: 6px;
  background:rgba(0, 0, 0, 0.1) ;

}
.skills-bar .skills-per{
  display: block;
  height: 100%;
  width: 85%;
  border-radius: 6px;
  background: #4070f4;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
@keyframes progress {
  0%{
    width: 0;
    opacity:0;
  }
  100%{
  opacity: 1;
  }
}

.new-habit-slot{
  height: 40px;
  width: 525px;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: small;
  font-weight: 600;
  color: grey;
  cursor: pointer;
}
.habits-name-slot{
  height: 40px;
  width: 525px;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: grey solid 1px;
}
.habits-boxes{
  width:40%;
  display:flex;
  flex-direction: row;
 justify-content: center;
}
.tes{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.input-habit-name{
  width: 100%;
  border: grey solid 1px;
  background-color: transparent;
  outline:none;
  height: 40px;
  color: white;
}

.garbage-bin{
width: 30%;
  border: grey solid 1px;
  background-color: transparent;
  outline:none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.garbage-bin-2{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.input-habit-name:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.block-1{

    height: 500px;
    width: 1100px;
    background-color: rgba(95, 90, 90, 0.116);
    border-radius: 10px;
    box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter:blur(10px);
    display: flex;
    justify-content: space-around;
  
    align-items: center;
    font-family:"Poppins", sans-serif;
  

}

.eating-time-container{
display: flex;
width: 100%;
justify-content: space-evenly;
align-items: center;
}

.breakfast-container{
  display:flex;
  flex-direction: column;

  width: 300px;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.2);

}

.add-log-btn{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container{
  display:flex;
  flex-direction: column;

  width: 300px;
  height: 100px;
  background-color: rgba(215, 215, 215, 0.116);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter:blur(10px);

}


.progress-bar-container{

  margin-left: 20px;
  width: 75%;
  height:25px;
  display: flex;
  justify-content: start;
  flex-direction: start;
  align-items: stretch;
  border-radius: 60px;

  box-shadow: 0px 0px 2px #ffffff;
  overflow: hidden;

}
.progress-percentage{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  width: 100%;
  position: absolute;
  left: 120px;
  top:55px;
  color:white;
}
.percentage{
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  width: 100%;
  position: relative;
  left: 140px;
  top:-20px;

}

.breakfast-bar{
  width: 0%;
  height: auto;
  background: rgb(105, 254, 254);
  background: linear-gradient(
    180deg,
    rgb(249, 49, 49)0%,
    rgba(249, 71, 71, 0.88)32%,
    rgb(245, 17, 17)100%
  );

}


.breakfast-input{
  overflow-y:auto;
  margin-top: 10px;
  display:flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: rgba(215, 215, 215, 0.116);
  border-radius: 10px;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter:blur(10px);
}

.breakfast-log-inner-container{
  width: 300px;
  height: 50px;
  background-color: #20bf6b;
  display: flex;
  justify-content: space-around;
}
.breakfast-item-name{

  font-size: 18px;

  display: flex;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.breakfast-item-container{

  color: #19d9f7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


.breakfast-item-calories{
  display: flex;
  justify-content: end;
  margin-top: 5px;
  margin-bottom: -5px;
}


.block-2{
  margin-top: 50px;
  height: 500px;
  width: 1100px;
  background-color: rgba(95, 90, 90, 0.116);
  border-radius: 10px;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter:blur(10px);
  display: flex;
  justify-content: space-around;

  align-items: center;
  font-family:"Poppins", sans-serif;

}
.habits-title{
  position: absolute;
  top:10px;
  left:10px;
  font-family:"Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgb(115, 53, 197);
}
.habits-container{
  height: 400px;
  width: 525px;
  background-color:transparent;
}
.block-2-display{
  height: 400px;
  width: 525px;


  top:300px;
  background-image: url("images/gradient-image.jpg");
  background-repeat: no-repeat;
  background-size: 525px 400px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-text{
  color:white;
}
text{
  color:white;
}
.block-2-inner{
  height: 300px;
  width: 375px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-2-a{
  height: 100px;
  width: 475px;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fake-btn-2{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  font-size:40px;
  cursor: pointer;

}
.fake-btn-2:hover{
  color: black;
}
.fake-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  border: 2px solid white;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  font-size:16px;
  cursor: pointer;
}
.fake-btn:hover{
  background-color: white;
  color: black;
}

.text{
  font-size: 40px;
}

/* End Block 2  */




.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count{
  width: 200px;
  height: 200px;
  border:none;
  outline:none;
  position:absolute;
top:20%;
right:380px;
transform:translate(-50%,-50%);

font-size: 5rem;
color:rgb(0, 0, 0);
text-align: center;
background-color: transparent;
z-index:1;
}
.count2{
  width: 200px;
  height: 200px;
  border:none;
  outline:none;
  position:absolute;
top:27%;
right:380px;
transform:translate(-50%,-50%);

font-size: 3rem;
color:rgb(0, 0, 0);
text-align: center;
background-color: transparent;
z-index:1;
}


.dots {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100px;
  padding: 0;
  margin: 0;
}

.dots li {
  border-radius: 2px;
  margin: 0 2px;
  width: 16px;
  height: 16px;
  background-color: #26de81;
}

button {
  background-color: #20bf6b;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 4px 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  margin-top: 24px;
}








.App {
  text-align: center;
}

/*Nav start*/
.nav-content{
  display: flex;
  flex-direction: column;
}
.nav-holder{
  width: 300px;
  height: 100vh;
  background-color: rgb(197, 223, 222);
}

.nav-bar{
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left:0px;
  background-color: rgb(32, 32, 32);
  z-index: 0;
}
.a{
	font-size: 2em;
	text-decoration: none;
	letter-spacing: 2px;
	line-height: 1em;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px rgb(255, 255, 255);
}


/* Nav end*/


/*profile start*/
.profile-view{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto ;
  width: 1430px;
  /* background-color: rgb(155, 116, 65); */
}

.profile-container{
  display: flex;
  flex-direction: row;
  height: 700px ;
  width: 1050px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 255, 0);
  grid-gap:13px;
  visibility: hidden;
}

.main-profile-info{
  height: 700px ;
  width: 650px;
  background-color: rgba(0, 255, 255, 0);
  display: flex;
  flex-direction: column;;
  grid-gap:13px;
}
.second-profile-info{
  height: 700px ;
  width: 650px;
  background-color: rgba(0, 255, 255, 0);
  display: flex;
  flex-direction: column;;
  grid-gap:13px;
}

.box1{
  height: 233px ;
  width: 650px;
  background-color: rgba(26, 117, 117, 0);
  display: flex;
  grid-gap:13px;
}
.fake2{
  height: 233px ;
  width: 650px;
  background-color: rgb(65, 98, 190);
  display: flex;
  grid-gap:13px;
}
.fake3{
  height: 233px ;
  width: 650px;
  background-color: rgba(90, 198, 198, 0.976);
  display: flex;
  grid-gap:13px;
}
.info1{
  height: 223px ;
  width: 375px;
  background-color: rgb(163, 176, 81);
  display: flex;
  flex-direction: column;
}
.a1{
  width: 375px;
  height: 85px;
  background-color: aliceblue;

}
.a2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.a3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.b1{
  width:145px;
  height: 42px;
  background-color: rgba(0, 255, 255, 0);
}
.underline{
  border-right: 2px black solid;
}
.box2{
  height: 470px ;
  width: 400px;
  background-color: rgb(149, 233, 104);
  display: flex;
  flex-direction: column;
}
.box2-title{
  width: 400px;
  height:60px;
  display: flex;
  justify-content: space-between;
}
.box2-sections{
  width: 200px;
  height:40px;
  display: flex;
  justify-content:space-between;
}
.profile-food-entries{
  width: 400px;
  height:89px;
  background-color: #fff;
  border-bottom: 2px solid grey;
  display: flex;
  flex-direction: row;
}
#kcal{
  width: 40px;
}

.box3{
  height: 230px ;
  width: 400px;
  background-color: rgb(224, 131, 56);
  display: flex;
  flex-direction: column;
}
.cube1{
  width: 100px;
  height: 89px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.cube2{
  width: 200px;
  height: 89px;
  background-color: rgb(127, 163, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube3{
  width: 100px;
  height: 89px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*porfile end*/
.home{
  display: flex;
  justify-content: column;
  overflow-x: hidden;
}
#username{
  width: 280px;
}
#password{
  width: 280px;

}
.form-container {
  position:absolute;
  left:500px;
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  margin-top: 4px;
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.55rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.foods-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.all-foods{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  width: 100px;
  height: 50px;
  background-color: rgb(213, 137, 137);
  border-radius: 20px;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}
